/* Navbar */
.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}

li a {
    text-decoration: none;
}

.navbar p {
    /* display: flex; */
    color: white;
    text-transform: uppercase;
    margin-left: 1.5rem;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

.navbar p:hover {
    color: rgb(153, 153, 153);
}

.navbar-links {
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
}

/* Button */
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.transform-button {
    background-color: rgb(0, 102, 219); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.transform-button:hover {
    background-color: rgb(70, 150, 241); /* Green */
}

.toggle-button {
    background-color: rgb(0, 102, 219); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.toggle-button:hover {
    background-color: rgb(70, 150, 241); /* Green */
}

/* Charts */
.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2rem;
}

.chart-content-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.chart-content-container > span {
    text-align: center;
    margin-bottom: 1.5rem;
}